In [8]:
print(" the arithmatic operations are: ", (2+2),",",(50-5*6),",",(50-5*6)/4,",",8/5)

 the arithmatic operations are:  4 , 20 , 5.0 , 1.6

In [17]:
print(" the arithmatic operations are: ", (7/3),",",(17//3),",",(17%3),",",(5*3+2))

 the arithmatic operations are:  2.3333333333333335 , 5 , 2 , 17

In [10]:
print("square or power operations", (5**2),"and",(2**7))

square or power operations 25 and 128

In [11]:
width = 20
height = 5 * 9
print("result is:", width * height)

result is: 900

In [26]:
tax = 12.5 / 100
price = 100.50

In [27]:
price * tax

12.5625

In [41]:
print(" \"My name is niraj.\n I am Orginally from Nepal. \n and i have been joining bootcamp organised by Takeo \"")

 "My name is niraj.
 I am Orginally from Nepal.
 and i have been joining bootcamp organised by Takeo "

In [43]:
print("C:\some\name")

C:\some
ame

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_3868\3722566993.py:1: SyntaxWarning: invalid escape sequence '\s'
  print("C:\some\name")

In [44]:
print(r"C:\some\name")

C:\some\name

In [48]:
#string concatenation examples
print(2*"pa"+"ya")

papaya

In [51]:
print("Py","thon","Py"+"thon")

Py thon Python

In [61]:
C="Python"
print("THe Length of C is", len(C),".C[0]= ", C[0],"and" "C[-6]=", C[-6],"Both are accesing same Character" )

THe Length of C is 6 .C[0]=  P andC[-6]= P Both are accesing same Character

In [69]:
C="Python"
print(C, C[0:],C[1],C[1:],C[:1],C[1:6])

Python Python y ython P ython

In [95]:
#List
sq=[1,2,3,4,5]
print(sq,len(sq),sq[0])
sq[0]="niraj"
print(sq)
sq[1:]=["hari","shyam","Ayush","Shubha","Aelish"]
print(sq)
sq.remove("Aelish")
print(sq)
del sq[0]
print(sq)
sq.append("Aelish")
print(sq)
sq.insert(0,"Niraj")
print(sq)
sq.sort()
print(sq)
sq.sort(reverse=True)
print(sq)
newlist=[]
newlist.extend(sq)
print(" new list is", newlist)
age=[1,2,3,8,100]
new_list=age+sq
print(new_list)
new_list.pop()
print(new_list)

[1, 2, 3, 4, 5] 5 1
['niraj', 2, 3, 4, 5]
['niraj', 'hari', 'shyam', 'Ayush', 'Shubha', 'Aelish']
['niraj', 'hari', 'shyam', 'Ayush', 'Shubha']
['hari', 'shyam', 'Ayush', 'Shubha']
['hari', 'shyam', 'Ayush', 'Shubha', 'Aelish']
['Niraj', 'hari', 'shyam', 'Ayush', 'Shubha', 'Aelish']
['Aelish', 'Ayush', 'Niraj', 'Shubha', 'hari', 'shyam']
['shyam', 'hari', 'Shubha', 'Niraj', 'Ayush', 'Aelish']
 new list is ['shyam', 'hari', 'Shubha', 'Niraj', 'Ayush', 'Aelish']
[1, 2, 3, 8, 100, 'shyam', 'hari', 'Shubha', 'Niraj', 'Ayush', 'Aelish']
[1, 2, 3, 8, 100, 'shyam', 'hari', 'Shubha', 'Niraj', 'Ayush']

In [98]:
list1=[2,3,4]
print(list1[0])
print(list1[1])
list2=["hari","radha","Krisha"]
print(list2[0])
print(list2[1])
list3=[list1,list2]
print(list3)
print(list3[0])
print(list3[1])

2
3
hari
radha
[[2, 3, 4], ['hari', 'radha', 'Krisha']]
[2, 3, 4]
['hari', 'radha', 'Krisha']